body {
    background:#f8f8f8;
}
.container {
    padding:30px 0;
}
h1{
    margin-bottom:30px;
}
h2 {
    color: #118b11;
}
.bordered-block {
    margin:20px 0;
    border:2px solid #e0e0e0;
    background:#eee;
    padding:30px;
    clear:both;
    border-radius:20px;
}